policy_module(cryshcoin, 1.100.1)

########################################
#
# Declarations
#

type cryshcoin_t;
type cryshcoin_exec_t;
init_daemon_domain(cryshcoin_t, cryshcoin_exec_t)

permissive cryshcoin_t;

type cryshcoin_initrc_exec_t;
init_script_file(cryshcoin_initrc_exec_t)

type cryshcoin_conf_t;
files_type(cryshcoin_conf_t)

type cryshcoin_var_lib_t;
files_type(cryshcoin_var_lib_t)

type cryshcoin_var_run_t;
files_type(cryshcoin_var_run_t)

type cryshcoin_port_t;
corenet_port(cryshcoin_port_t)

########################################
#
# cryshcoin local policy
#
allow cryshcoin_t self:process { fork };

allow cryshcoin_t self:fifo_file rw_fifo_file_perms;
allow cryshcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(cryshcoin_t, cryshcoin_conf_t, cryshcoin_conf_t)
manage_files_pattern(cryshcoin_t, cryshcoin_conf_t, cryshcoin_conf_t)

manage_dirs_pattern(cryshcoin_t, cryshcoin_var_lib_t, cryshcoin_var_lib_t)
manage_files_pattern(cryshcoin_t, cryshcoin_var_lib_t, cryshcoin_var_lib_t)
files_var_lib_filetrans(cryshcoin_t, cryshcoin_var_lib_t, { dir file })

manage_dirs_pattern(cryshcoin_t, cryshcoin_var_run_t, cryshcoin_var_run_t)
manage_files_pattern(cryshcoin_t, cryshcoin_var_run_t, cryshcoin_var_run_t)

sysnet_dns_name_resolve(cryshcoin_t)
corenet_all_recvfrom_unlabeled(cryshcoin_t)

allow cryshcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(cryshcoin_t)
corenet_tcp_sendrecv_generic_node(cryshcoin_t)
corenet_tcp_sendrecv_all_ports(cryshcoin_t)
corenet_tcp_bind_generic_node(cryshcoin_t)

gen_require(`
    type cryshcoin_port_t;
')
allow cryshcoin_t cryshcoin_port_t:tcp_socket name_bind;

gen_require(`
    type cryshcoin_port_t;
')
allow cryshcoin_t cryshcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(cryshcoin_t)

files_read_etc_files(cryshcoin_t)

miscfiles_read_localization(cryshcoin_t)

sysnet_dns_name_resolve(cryshcoin_t)

allow cryshcoin_t cryshcoin_exec_t:file execute_no_trans;
allow cryshcoin_t self:process setsched;
corecmd_exec_ls(cryshcoin_t)
corenet_tcp_connect_http_port(cryshcoin_t)
dev_read_urand(cryshcoin_t)
fs_getattr_xattr_fs(cryshcoin_t)
kernel_read_system_state(cryshcoin_t)
